{% load static %}
<!DOCTYPE HTML>
<!---->
<html>
	<head>
		<title>TestingSystem by Lancer</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="{% static 'js/ie/html5shiv.js' %}"></script><![endif]-->
		<link rel="stylesheet" href="{% static 'css/main.css' %}" />
		<!--[if lte IE 9]><link rel="stylesheet" href="{% static 'css/ie9.css' %}" /><![endif]-->
	</head>
	<body>

		<!-- Banner -->
			<section id="banner">
				<h2><strong>机器人等级考试</strong> 测试系统</h2>
				<p>有任何疑问请联系网站管理员Lancer</p>
				<ul class="actions">
					<li><a href="{% url 'default_paper' %}" class="button special" >开始测试</a></li>
				</ul>
			</section>

		<!-- One -->
			<section id="one" class="wrapper special">
				<div class="inner">
					<header class="major">
						<h2>往 年 真 题</h2>
					</header>
					<div class="features">
						{% for p in paper %}
						<div class="feature">
							<i class="fa fa-diamond"></i>
							<a href="/exam/?date={{ p.QuestionDate }}"><h3>一级测试卷-{{ p.QuestionDate }}</h3></a>
							<p>理论综合试卷（一级）{{ p.QuestionDate }}</p>
						</div>
						{% endfor %}
						<div class="feature">
							<i class="fa fa-envelope-o"></i>
							<h3>更多试卷，等待更新</h3>
							<p>......</p>
						</div>
					</div>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style2 special">
				<div class="inner narrow">
					<header>
						<h2>意见反馈</h2>
					</header>
					<form class="grid-form" method="post" action="/message_form/">
						<div class="form-control narrow">
							<label for="name">姓名</label>
							<input name="name" id="name" value="{{Message.name}}" type="text">
						</div>
						<div class="form-control narrow">
							<label for="email">邮箱</label>
							<input name="email" id="email" value="{{Message.email}}" type="email">
						</div>
						<div class="form-control">
							<label for="message">留言</label>
							<textarea name="message" id="message" rows="4">{{Message.message}}</textarea>
						</div>
						<ul class="actions">
							<li><input value="发送" type="submit"></li>
						</ul>
						{% csrf_token %}
					</form>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="copyright">
					&copy; 版权所有： <a href="#">Lancer</a>.
				</div>
			</footer>

		<!-- Scripts -->
			<script src="{% static 'js/jquery.min.js' %}"></script>
			<script src="{% static 'js/skel.min.js' %}"></script>
			<script src="{% static 'js/util.js' %}"></script>
			<!--[if lte IE 8]>
			<script src="{% static 'js/ie/respond.min.js' %}"></script>
			<![endif]-->
			<script src="{% static 'js/main.js' %}"></script>

	</body>
</html>